
// SECTİON-TWO START 
@media(max-width:768px){
    
    .section-two{
        width: 100%;
        height: 100%;
        // background-color: #F6F6F7;
        .official{
            width: 100%;
            height: 100%;
            p{
                width:95%;
                font-size: 15px;
                margin: 0;
                padding: 10px 0;
            }
           
        }
        .fast{
            width: 100%;
            height: 100%;
            padding: 20px 0;
            p{
                width: 95%;
                font-size: 15px;
                margin: 0;
                padding: 10px 0;
            }
        }
        .warranty{
            width: 100%;
            height: 100%;
            p{
                margin: 0;
                padding: 10px 0;
                width: 95%;
                font-size: 15px;
            }
        }
    }
}
@media(min-width:768px)and (max-width:992px){
    .section-two{  
        width: 100%;
        height: 100vh;
        .official{
            width: 100%;
            height: 100%;
            p{
               margin: 0;
               padding: 10px 0;
               width: 95%;
               font-size: 15px;

            }
        }
        .fast{
            width: 100%;
            height: 100%;
            padding: 20px 0;
            p{
                width: 95%;
                font-size: 15px;
                margin: 0;
                padding: 10px 0;
            }
        }
        .warranty{
            width: 100%;
            height: 100%;
            p{
                margin: 0;
                padding: 10px 0;
                width: 95%;
                font-size: 15px;
            }
        }
    }
}
// SECTİON-TWO FINISH

// SALE-CARS START

@media(max-width:576px){
    .sale-cars{
        width: 100%;
        height: 100%;
        

    }
}
